<script type="text/javascript">
</script>


<h1>hello this is my game</h1>

<h2>Courez princesse, la grenouille visqueuse veut un baiser!</h2>

<div class="instructions-a">
  <h3>instructions:</h3>
  <p>Vous devez échapper à la grenouille. S'il vous attrape, vous mourrez de son baiser toxique. Si vous tombez, vous mourrez de blessures internes.
</p>
</div>

<div id="game"></div>

<div class="instructions-b">
  <p class="frog">
    Venez ici princesse.
  </p>
  <p class="princess">
    Jamais grenouille!
  </p>

</div>
