<script type="text/javascript">
</script>


<!-- <h1>hello this is my game</h1> -->

<!-- <img src="http://fillmurray.com/100/100" alt=""> -->




<div class="instructions-a">
  <h2>Courez princesse, la grenouille visqueuse veut un baiser!</h2>
  <h3>instructions:</h3>
  <p>Vous devez échapper à la grenouille. S'il vous attrape, vous mourrez de son baiser toxique. Si vous tombez, vous mourrez de blessures internes.
  </p>
  <div class="arrows">
    <div class="up">
      &#8679;
    </div>
    <div class="left">
      &#8678;
    </div>
    <div class="right">
      &#8680;
    </div>

  </div>

  <!-- <div class="score">
    scores will go here
  </div>

  <div class="name">
    <input type="text" name="name" value="" placeholder="nom">
    <button type="button" name="name">allez</button>
  </div> -->
</div>

<div id="game"></div>

<div class="instructions-b">
  <p class="frog">
    <img src="/assets/frontFrog.png" alt="">

    <!-- Venez ici princesse. -->
  </p>
  <p class="princess">
    <img src="/assets/frontPrincess.png" alt="">

    <!-- Jamais grenouille! -->
  </p>

</div>
