<script type="text/javascript">
</script>


<h1>hello this is my game</h1>

<p>Run Princess! The slimey grenouille wants a kiss!</p>

<div class="instructions-a">
  instructions
</div>

<div id="game"></div>

<div class="instructions-b">
  more instructions
</div>
