<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
(function() {

    //Create a new game that fills the screen
    game = new Phaser.Game(800, 600, Phaser.AUTO);

    //Add all states
    game.state.add("Boot", Boot);
    game.state.add("Preload", Preload);
    game.state.add("GameTitle", GameTitle);
    game.state.add("Main", Main);
    game.state.add("LevelTwo", LevelTwo);
    game.state.add("LevelThree", LevelThree);
    game.state.add("GameOver", GameOver);

    //Start the first state
    game.state.start("Boot");

})();
</script>
  </head>

  <body>
    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>
